/* React PDF overrides */

.react-pdf__Page__canvas {
  width: 100% !important;
  height: unset !important;
}

.PdfContent {
  display: flex;
  height: 100%;
}

.PdfContent-annotationGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.PdfContent-sidebar {
  width: 200px;
  flex-shrink: 0;
  padding: 8px;
}

.PdfContent-sidebarTitle {
  color: gray;
  margin-bottom: 8px;
}

.PdfContent-sidebar.is-right {
  border-left: 1px solid #eeeeee;
}

.PdfContent-sidebar.is-left {
  border-right: 1px solid #eeeeee;
}

.PdfContent-main {
  flex: 1;
  background: #dadada;
}

.PdfContent-main.is-tool-selected {
  cursor: crosshair !important;
}

.PdfContent--loading {
  /* probably want to eliminate this state eventually */
  text-align: center;
}

.PdfContent-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  top: 40px;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid var(--colorPaleGrey);
}

.PdfContent-header-left {
  flex: 1;
}

.PdfContent-header-right {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.PdfContent-document {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.PdfContent-headerInput {
  width: 5ch;
  text-align: right;
  margin-left: 4px;
}

.PdfContent-headerInput::-webkit-inner-spin-button,
.PdfContent-headerInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.PdfContent-headerNumPages {
  margin-right: 4px;
}

.PdfContent-button {
  box-sizing: border-box;
  color: var(--colorSecondaryGrey);
  min-width: 32px;
  padding: 0px 4px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
  font-size: 24px;
}

.PdfContent-button[disabled] {
  opacity: 0.3;
  cursor: default;
}

.PdfContent-button.is-selected {
  background: rgb(239, 239, 239);
}

.PdfContent-navButton:not([disabled]):hover {
  color: var(--colorGrey);
  border: 1px solid;
}


.PdfContent-region {
  opacity: 0.5;
}

.PdfContent-region:hover {
  opacity: 1;
}