.ChangedDocsList--emptyState {
  padding: var(--cellSize);
  text-align: center;
}

.ChangedDocsList--content {
  padding-top: var(--halfCellSize);
  max-height: 420px;
  overflow: auto;
}

.ChangedDocsList--footer {
  padding: var(--halfCellSize);
  padding-top: 0;
  display: flex;
  flex-direction: column;
}