.FeedbackParser {

}

.FeedbackParser--doc {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  position: relative;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
}

.FeedbackParser--tool-heading {
  padding: 10px;
}

.FeedbackParser--feedback-category {
  padding: 10px;
}

.FeedbackParser--feedback-item {
  padding: 10px;
}