.messageWrapper {
  padding: 0;
  margin: 0;
  margin-left: -1px;
  margin-top: -1px;
  /* flex-direction: column; */
  background: white;
}

.messageContentWrapper {
  display: flex;
}

.messageContent {
  margin: 1px;
  padding: 0;
  width: 100%;
  height: 100%;
}

.repliesWrapper:hover {
  background: red;
}

.repliesWrapper {
  padding: 0;
  padding-left: 1em;
}

.buttonsWrapper {
  display: block;
}

.buttonsWrapper > button {
  margin: 0;
  margin-left: 0.5em;
  border: 0;
  padding: 0.5em;
  background: none;
  cursor: pointer;
  color: var(--colorSecondaryGrey);
}

.buttonsWrapper > button:hover {
  color: var(--colorBlueBlack);
}

.messageUser {
  float: right;
}

.messageUser .Contact-user {
  flex-direction: row;
  gap: 0.5em;
}

.messageUser .Contact-status {
  display: none;
}

.messageUser .Avatar {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.collapseButton {
  margin: 0;
  border: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 1em;
  display: block;
  background: none;
  cursor: pointer;
  color: var(--colorPaleGrey);
}

.collapseButton:hover {
  color: var(--colorSecondaryGrey);
}
