.threadWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 1px 1px 0 1px;
}

.messageWrapper {
  padding: var(--halfCellSize) 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  flex-grow: 1;
}

.ThreadContent-clickable {
  cursor: pointer;
}

.messageGroup {
  padding: var(--halfCellSize);
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
}

.groupedMessages {
  padding-left: 32px;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.message > .content {
  white-space: pre-wrap;
}

.message {
  color: black;
  line-height: 20px;
  padding: 2px 0;
}

.user {
  display: flex;
}

.username {
  font-size: 12px;
  color: var(--colorBlueBlack);
}

.time {
  color: var(--colorSecondaryGrey);
  display: block;
  font-size: 12px;
}

.inputWrapper {
  box-sizing: border-box;
  width: calc(100% - 2px);
  border-top: 1px solid var(--colorInputGrey);
  background-color: white;
}

.messageInput {
  width: 100%;
}

.Thread-unreadLine {
  border-bottom: 1px solid var(--colorUnreadLine);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0;
}

.Thread-unreadLineLabel {
  right: 0;
  padding: 2px 4px;
  border-radius: 4px;
  color: white;
  background: var(--colorUnreadLine);
  font-weight: bold;
  font-size: 12px;
}

.Thread-dayLine {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.Thread-dayLine::before {
  content: "";
  border-bottom: 1px solid rgb(221, 221, 221);
  width: 100%;
  position: absolute;
}

.Thread-dayLineDate {
  color: var(--colorSecondaryGrey);
  background: white;
  z-index: 1;
  padding: 0 var(--halfCellSize);
}

