.threadWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 1px 1px 0 1px;
}

.messageWrapper {
  padding: 12px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  flex-grow: 1;
}

.ThreadContent-clickable {
  cursor: pointer;
}

.messageGroup {
  padding-top: 12px;
  display: flex;
  align-items: flex-start;
}

.groupedMessages {
  padding-left: 32px;
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.message > .content {
  white-space: pre-wrap;
}

.message {
  color: black;
  display: flex;
  line-height: 20px;
  padding: 2px 0;
}

.user {
  display: flex;
}

.username {
  font-size: 12px;
  color: var(--colorBlueBlack);
}

.time {
  flex: none;
  position: absolute;
  right: 12px;
  font-size: 12px;
  color: var(--colorSecondaryGrey);
  margin-top: -22px;
}

.inputWrapper {
  box-sizing: border-box;
  width: calc(100% - 2px);
  border-top: 1px solid var(--colorInputGrey);
  background-color: white;
}

.messageInput {
  width: 100%;
}

.Thread-unreadLine {
  border-bottom: 1px solid var(--colorUnreadLine);
}
