.TodoList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.TodoList-todo {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.TodoList-title {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 16px;
}

.TodoList-todoContent {
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.TodoList-spacer {
  flex: 1;
}

.TodoList-actions {
  visibility: hidden;
}

.TodoList-todo:hover > .TodoList-actions {
  visibility: visible;
}

.TodoList-todoMain {
  display: flex;
  gap: 8px;
  flex-direction: column;
}