.TitleEditor {
  font-size: 1.1em;
  padding: 0px; /* someone (me?) put padding on all inputs */
  cursor: inherit;
}

.TitleEditor.bold {
  font-weight: 500;
}

/* use hidden text to cause title editor
input expand with typed text */
span.TitleEditor {
  visibility: hidden;
  z-index: -1;
  height: 0px;
}
