.ContactEditor-heading {
  display: flex;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--colorPaleGrey);
  padding: var(--cellSize) 0;
}

.ContactEditor-buttonGroup {
  display: flex;
  gap: var(--halfCellSize)
}
